*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   html{
    scroll-behavior: smooth;
    background-color: rgb(18, 18, 23);
  
   }

   body{
    background: url("img/1.png") no-repeat center center fixed;
    background-size: cover;
   }
   
   li{
    list-style: none;
   }

   a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    
   }
   
   .navbar{
    position: fixed;
    min-height: 70px;
    display: flex;
    z-index: 100;
    left: 40px;
   }

   .nav-menu{
    /* top: 50px;
    left: 140px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 40px;
   }

   .logo-img{
    /* position: fixed; */
    height: 100px;
    margin: 20px auto;
    left: 40px;
    
   }


   .nav-link{
    transition: 0.2s ease;
   }

   .nav-link:hover{
    color: rgb(251, 66, 66);
   }

   .contact{
    padding: 8px 15px;
    background-color: rgb(67, 100, 162);
    border: 0;
    cursor: pointer;
    transition: 0.2s ease;
   }

   .contact:hover{
    background-color: rgb(50, 79, 135);
   }

   .hamburger{
    display: none;
    cursor: pointer;
   }

   .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
   }

    /* @media(min-width:750px){
    .nav-menu{
        position: fixed;
        display: flex;
        left: 900px;
        justify-content: flex-end;
        align-items: center;
       }
  
    }
    @media(max-width:1550px){
        .logo-img{
            width: 450px;
            padding: 20px 35px;
            margin-left: -20px;
        
           }
      
        }
   @media(max-width:800px){
    .hamburger{
        display: block;
        margin-left: 30px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    
    .logo-img{
        width: 450px;
        padding: 20px 35px;
        margin-left: -20px;
    
       }

    .nav-menu{
        position: fixed;
        left: 100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(23, 22, 39, .8);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left:0
    }
   } */

#section1{
    height: 980px;
    display: inline-block;
    width: 100%;
}

.container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 90px);
    grid-gap: 1rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;

  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;

  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;

  }
  .gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;

  }

#section2{
    height: 980px;
    display: inline-block;
    width: 100%;
}

.about-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 350px auto;

 
}

.about-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3rem;
}

.description{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    word-spacing: 5px;
    text-align: center;
    color: white;
}

.button{
    margin-top: 40px;
    display: inline-block;
    background-color: rgb(159, 31, 31);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    background-color: rgb(245, 46, 46);
    border-color: transparent;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);

}

#section3{
    width: 100%;
    height: 980px;
    display: inline-block;
}

form{
    width: 640px;
    margin: 200px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
  }
  
  form .title h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 6px;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
  }
  
  form .half{
    display: flex;
    justify-content: space-between;
  }
  
  form .half .item{
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
  }
  
  form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
  }
  
  form .half .item input{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
  }
  
  form .full{
    color: white;
    margin-bottom: 24px;
  }
  
  form .full textarea{
    color: white;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
  }
  
  form .action{
    margin-bottom: 32px;
  }
  
  form .action input{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
  }
  
  form .icons a{
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
  }
  
 form .action input[type="reset"]:hover,form .action input[type="submit"]:hover, form .icons a:hover{
    background: rgba(245, 46, 46,0.5);
  }
  
  @media (max-width: 480px){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }
  }





  
